<script language="JavaScript">
    function showform(form) {
        if (form == 'insert') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';

        }
        else if (form == 'update') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';

        }
        else if (form == 'delete') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';

        }
        else if (form == 'all') {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'block';

        }
        else {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
    }
    function insert() { showform('insert'); }
    function update(ids,names) {
        showform('update');
        console.log(ids)
        document.getElementById('updateOrderID').value = ids[0]
        document.getElementById('updateCustomer').value = ids[1]
        document.getElementById('updateDonut').value = ids[2]
        document.getElementById('updateStore').value = ids[3]
        document.getElementById('updateCount').value = ids[4]
    }
    function remove(ids) {
        showform('delete');
        console.log(ids)
        document.getElementById('deleteOrderID').value = ids
        document.getElementById('deleteOrderID-label').textContent = ids
    }
    function browse() { showform('browse'); }
    function showAll() { showform('all'); }
</script>




<title>Orders</title>
<div id="browse">
    {{!--<p><a href="#" onClick="showAll()">Display all forms</a> </p>--}}
    <div class="row justify-content-center">
        <div class="col-auto">
            <table id="order-table" border="1" cellpadding="5">

                {{!-- Header section --}}
                <thead>

                    {{!-- For just the first row, we print each key of the row object as a header cell so we know what each column means when the page renders --}}
                    <tr>
                        <th><a href="#" onClick="insert()">New</a></th>
                        <th></th>
                        {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>

                    {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                    {{#each info}}

                    <tr>
                        <td><a href="#" onClick="update([{{this.orderID}},{{this.customerID}},{{this.donutID}},{{this.storeID}},{{this.totalPurchased}}])">Edit</a></td>
                        <td><a href="#" onclick="remove({{this.orderID}})">Delete</a></td>
                        <td>{{this.orderID}}</td>
                        <td>{{this.customerFName}}({{this.customerID}})</td>
                        <td>
                        {{#if this.donutName}}
                        {{this.donutName}}({{this.donutID}})
                        {{else}}
                        NULL
                        {{/if}}
                        </td>
                        <td>{{this.storeName}}({{this.storeID}})</td>
                        <td>{{this.totalPurchased}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
    <p>&nbsp;</p>

</div>

<div id="wrap" class="col-md-12 school-options-dropdown text-center">
    <div id="insert">
        <form id="insertOrder" method="POST" action="/add-order-form">
            <legend><strong>Add Order</strong></legend>
            <label> Customer </label>
            <select name="inputCustomer" id="inputCustomer">
                <option value="">Select Customer</option>
                {{#each customerData}}
                <option value="{{this.customerID}}">{{this.customerFName}}({{this.customerID}})</option>
                {{/each}}
            </select>
            <label> Donut </label>
            <select name="inputDonut" id="inputDonut">
                <option value="">Select Donut</option>
                {{#each donutData}}
                <option value="{{this.donutID}}">{{this.donutName}}({{this.donutID}})</option>
                {{/each}}
                <option value="NULL">NULL</option>
            </select>
            <label> Store </label>
            <select name="inputStore" id="inputStore">
                <option value="">Select Store</option>
                {{#each storeData}}
                <option value="{{this.storeID}}">{{this.storeName}}({{this.storeID}})</option>
                {{/each}}
            </select>
            <label> Total purchased </label>
            <input type="number" name="inputCount" id="inputCount">

            <input class="btn btn-primary shadow-none" type="submit" id="addCustomer" value="Add Order">
            <input class="btn btn-primary shadow-none" type="button" value="cancel" onClick="browse()">
        </form>
    </div>
    <div id="update">
        <form method="POST" id="updateOrder" action="/update-order-form">
            <legend><strong>Update Order</strong></legend>

            <input type="hidden" name="updateOrderID" id="updateOrderID" value="">
            <label>Customer</label>
            <select name="updateCustomer" id="updateCustomer">
                <option value="">Select Customer</option>
                {{#each customerData}}
                <option value="{{this.customerID}}">{{this.customerFName}}({{this.customerID}})</option>
                {{/each}}
            </select>
            <label> Donut </label>
            <select name="updateDonut" id="updateDonut">
                <option value="">Select Donut</option>
                {{#each donutData}}
                <option value="{{this.donutID}}">{{this.donutName}}({{this.donutID}})</option>
                {{/each}}
                <option value="NULL">NULL</option>
            </select>
            <label> Store </label>
            <select name="updateStore" id="updateStore">
                <option value="">Select Store</option>
                {{#each storeData}}
                <option value="{{this.storeID}}">{{this.storeName}}({{this.storeID}})</option>
                {{/each}}
            </select>
            <label> Total purchased </label>
            <input type="number" name="updateCount" id="updateCount">

            <input class="btn btn-primary shadow-none" type="submit" id="UpdateSaveDonut" value="Update Order">
            <input class="btn btn-primary shadow-none" type="button" value="cancel" onClick="browse()">
        </form>
    </div>
    <div id="delete" style="display: block">
        <form method="POST" id="deleteOrder" action="delete-order-form">
            <legend><strong>Delete Order</strong></legend>
            <fieldset class="fields">
                <p>Are you sure you wish to delete the following?</p>
                <label><strong>ID:</strong></label>
                <label id="deleteOrderID-label"></label>
                <input type="hidden" name="deleteOrderID" id="deleteOrderID" value="">
            </fieldset>
            <input class="btn btn-primary shadow-none" type="submit" id="deleteOrderButton" value="Delete Order">
            <input class="btn btn-primary shadow-none" type="button" value="cancel" onClick="browse()">
        </form>
    </div>
</div>