<script language="JavaScript">
    function showform(form) {
        if (form == 'insert') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
        else if (form == 'update') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        }
        else if (form == 'delete') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
        }
        else if (form == 'all') {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
        }
        else {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
    }
    function insert() { showform('insert'); }
    function update(pid) {
        showform('update');
        document.getElementById('updateStoreID').value = pid[0]
        document.getElementById('updateStoreName').value = pid[1]
        document.getElementById('updateStoreAddress').value = pid[2]
        document.getElementById('updateStorePlanet').value = pid[3]
    }
    function remove(ids) {
        showform('delete');
        console.log(ids)
        document.getElementById('deleteStoreID').value = ids
        document.getElementById('deleteStoreIDLabel').textContent = ids
    }
    function browse() { showform('browse'); }
    function showAll() { showform('all'); }
</script>
<title>Stores</title>

    
    <div id="browse">
        {{!--<p><a href="#" onClick="showAll()">Display all forms</a> </p>--}}
        <div class="row justify-content-center">
            <div class="col-auto">
                <table id="stores-table" border="1" cellpadding="5">

                    {{!-- Header section --}}
                <thead>

                    {{!-- For just the first row, we print each key of the row object as a header cell so we know what each column means when the page renders --}}
                    <tr>
                        <th><a href="#" onClick="insert()">New</a></th>
                        <th></th>
                        {{#each data.[0]}}
                        <th>

                            {{@key}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>

                    {{#each data}}

                    <tr>
                        <td><a href="#" onClick="update([{{this.storeID}},'{{this.storeName}}','{{this.storeAddress}}','{{this.storePlanet}}'])">Edit</a></td>
                        <td><a href="#" onclick="remove({{this.storeID}})">Delete</a></td>
                        <td>{{this.storeID}}</td>
                        <td>{{this.storeName}}</td>
                        <td>{{this.storeAddress}}</td>
                        <td>{{this.storePlanet}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
        <p>&nbsp;</p>
    </div>

    <div id="wrap" class="col-md-12 school-options-dropdown text-center">
        <div id="insert">
            <form method="POST" id="inputStore" action="/add-store-form">
                <legend><strong>Add Store</strong></legend>
                <fieldset class="fields">
                    <label> Name </label>
                    <input type="text" name="inputStoreName" id="inputStoreName" required>

                    <label> Address </label>
                    <input type="text" name="inputStoreAddress" id="inputStoreAddress" required>

                    <label> Planet </label>
                    <input type="text" name="inputStorePlanet" id="inputStorePlanet" required>
                </fieldset>
                <input class="btn btn-primary shadow-none" type="submit" id="addStore" value="Add Store">
                <input class="btn btn-primary shadow-none" type="button" value="cancel" onClick="browse()">
            </form>
        </div>
        <p>&nbsp;</p>

        <div id="update">
            <form method="POST" id="updateStore" action="/update-store-form">
                <legend><strong>Update Store</strong></legend>
                <fieldset class="fields">
                    <input type="hidden" name="updateStoreID" id="updateStoreID" value="1">
                
                    <label> Name </label>
                    <input type="text" name="updateStoreName" id="updateStoreName" value="">

                    <label> Address </label>
                    <input type="text" name="updateStoreAddress" id="updateStoreAddress" value="">

                    <label> Planet </label>
                    <input type="text" name="updateStorePlanet" id="updateStorePlanet" value="">

                </fieldset>
                <input class="btn btn-primary shadow-none" type="submit" id="updateSaveStore" value="Update Store">
                <input class="btn btn-primary shadow-none" type="button" value="cancel" onClick="browse()">
            </form>
        </div>
        <p>&nbsp;</p>
        <div id="delete" style="display: block">
            <form method="POST" id="deleteStore" action="delete-store-form">
                <legend><strong>Delete Store</strong></legend>
                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <label><strong>ID:</strong></label>
                    <label id="deleteStoreIDLabel"></label>
                    <input type="hidden" name="deleteStoreID" id="deleteStoreID" value="">


                </fieldset>
                <input class="btn btn-primary shadow-none" type="submit" id="deleteStoreButton" value="Delete Store">
                <input class="btn btn-primary shadow-none" type="button" value="cancel" onClick="browse()">
            </form>
        </div>
    </div>

